@charset "UTF-8";
		  .topSpace {
			  margin-top: 1%;
		  }
	 .bg-light {
    background-color: #FFFFFF!important;
}
.navbar-nav 
{
	float: right;
}
.navbar-nav.mr-auto.mt-2.mt-lg-0 .nav-item.dropdown #navbarDropdown 
{
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
.navbar-toggler {
	position: absolute;
	right: 10px;
	top:10px;
}
	.nav-link  {
    color: #747474 !important;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
		}
.navbar .navbar-brand img {
    width: 50%;
}
	.nav-link:hover {
    color: #747474!important;
    font-weight: bold;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
		}
	.navbar .navbar-brand img {
    width: 30%;
}
		  .dropdowm-item {
			  background-color :#FFF !important;
			  border :0;
		  }
		  .dropdown-menu {
			  background-color: #5D5C5C!important;
		  }
		  .dropdown-menu a {
    			color: #CBCBCB!important; 
    			font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;			  
		  }
		  .dropdown-menu a:hover {
    			font-weight: bolder !important; 	  
		  }
.col-md-3.col-sm-4.col-6 .card {
	border:none;
}
.label{
	margin-top :2%; 
	margin-bottom: 2%;
    background-color: #343434;
    color: #CFCDCD;	
}
h5 {
			  color : #000 !important;
		  }
.label1 {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    display: block;
    font-weight: bolder;
    color: #FFFFFF;
    background-color: #000000;
    font-size: x-large;
	margin-top:2%;
	margin-bottom: 2%;
}
.label2 {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    display: block;
    font-weight: bolder;
    color: #FFFFFF;
    background-color: #000000;
    font-size: x-large;
	margin-top:2%;
	margin-bottom: 2%;
}
.label3{
	padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    display: block;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #000000;
    font-size: medium;
	margin-top:2%;
	margin-bottom: 2%;
}

.label4 {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%
}
.row {
	margin-left: 1%;
	margin-right:1%;
}
footer{
	width: 100%;
	margin-top : 2%; 
}
.footer {
    margin-top: 3%;
    background-color: #000 !important;
    color: #FFFFFF;
		  }
.text-muted {
     color: #CBCBCB!important; 
	 font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

.footer a {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}


@media screen and (min-width:450px) and (max-width:990px){

	

}
